<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Let's learn D3Angular!</title>
		<script src="js/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="js/controllers.js"></script>
		<script src="js/script.js"></script>
		<link rel="stylesheet" href="css/style.css">
		
	</head>
	<body ng-controller="MyController">
		<!-- <input type="text" ng-model="name"> -->

		<div class="contain">
		<div style="display:inline;float:right;" ng-repeat="stat in stats">
		<div simple-chart chart-data="stat"></div>
		</div>
		</div>

		<div style="clear:both;"></div>

				<div class="list" style="float:left;margin-right:300px;margin-top:-2px;">
		<ul ng-repeat="stat in stats">
		<li>Label:<input type="text" ng-model="stat.label"></li>
		<li>Color:<input  ng-model="stat.color" value="stat.color" placeholder="stat.color" type="color"></li>
		<li>Value:<input type="text" min="1" max="20" ng-model="stat.value"></li>
		<li>Value Slider:<input type="range" min="1" max="20" ng-model="stat.value"></li>
	<!-- 	<button ng-click="increaseStat(stat)">increase</button>
		<button ng-click="decreaseStat(stat)">decrease</button> -->
	

		</ul>


<!-- 		<button ng-click="makeSpectrum()">Make Some Stuff</button> -->

		</div>




		<div id="blank" style="float:left;">


		<div pie-chart chart-data="stats">

			

		</div>


		<div id="blank" style="float:left;">



		<div donut-chart chart-data="stats">
			

		</div>

<div style="clear:both;"></div>


		</div>
		

 <div bars-chart></div>

	

	</body>
</html>