<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Let's learn D3Angular!</title>
		<script src="angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="controllers.js"></script>
		<script src="script.js"></script>
		<link rel="stylesheet" href="style.css">
		
	</head>
	<body ng-controller="MyController">
		<input type="text" ng-model="name">

		<p>hello</p>
		<h2>Welcome {{name}} !</h2>
		<div wark></div>

		<div style="display:inline;float:left;" ng-repeat="stat in stats">
		<h6>{{stat.label}}</h6>
		<div simple-chart chart-data="stat"></div>
		</div>


		<h3>^ Did u see that data binding tho??</h3>

		<div id="blank" style="float:right;border:4px solid black;height:800px;width:800px;">

			<div simple-chart chart-data="stats"></div>



		</div>
		<div id="one">11</div>

		<div class="list">
		<ul ng-repeat="stat in stats">
		<li ng-click="makeCircle(stat)">{{stat.label}}</li>
		<li>{{stat.value}}</li>
		<li>{{stat.color}}</li>
		<button ng-click="increaseStat(stat)">increase</button>
	

		</ul>


		<button ng-click="makeSpectrum()">Make Some Stuff</button>

		</div>

		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	

	</body>
</html>